  
  @font-face {
    font-family: 'Qanelas';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('../assets/fonts/Qanelas-Light.woff2') format('woff2'),
    url('../assets/fonts/Qanelas-Light.woff') format('woff'),
      url('../assets/fonts/Qanelas-Light.ttf') format('ttf'),
      url('../assets/fonts/Qanelas-Light.eot') format('eot');
  }

@font-face {
    font-family: 'Qanelas';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../assets/fonts/Qanelas-Regular.woff2') format('woff2')
    url('../assets/fonts/Qanelas-Regular.woff') format('woff'),
      url('../assets/fonts/Qanelas-Regular.ttf') format('ttf'),
      url('../assets/fonts/Qanelas-Regular.eot') format('eot');
  }

  @font-face {
    font-family: 'Qanelas';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../assets/fonts/Qanelas-Medium.woff2') format('woff2'),
    url('../assets/fonts/Qanelas-Medium.woff') format('woff'),
      url('../assets/fonts/Qanelas-Medium.ttf') format('ttf'),
      url('../assets/fonts/Qanelas-Medium.eot') format('eot');
  }
  @font-face {
    font-family: 'Qanelas';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('../assets/fonts/Qanelas-SemiBold.woff2') format('woff2'),
    url('../assets/fonts/Qanelas-SemiBold.woff') format('woff'),
      url('../assets/fonts/Qanelas-SemiBold.ttf') format('ttf'),
      url('../assets/fonts/Qanelas-SemiBold.eot') format('eot');
  }
  
  @font-face {
    font-family: 'Qanelas';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../assets/fonts/Qanelas-Bold.woff2') format('woff2'),
    url('../assets/fonts/Qanelas-Bold.woff') format('woff'),
      url('../assets/fonts/Qanelas-Bold.ttf') format('ttf'),
      url('../assets/fonts/Qanelas-Bold.eot') format('eot');
  }
  
 
  @font-face {
    font-family: 'Qanelas';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('../assets/fonts/Qanelas-ExtraBold.woff2') format('woff2'),
    url('../assets/fonts/Qanelas-ExtraBold.woff') format('woff'),
      url('../assets/fonts/Qanelas-ExtraBold.ttf') format('ttf'),
      url('../assets/fonts/Qanelas-ExtraBold.eot') format('eot');
  }
  

  @font-face {
    font-family: 'Qanelas';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('../assets/fonts/Qanelas-Black.woff2') format('woff2'),
    url('../assets/fonts/Qanelas-Black.woff') format('woff'),
      url('../assets/fonts/Qanelas-Black.ttf') format('ttf'),
      url('../assets/fonts/Qanelas-Black.eot') format('eot');
  }
