@import './styles/reset.scss';
@import './styles/fonts.scss';
:root {
  --background: #1e2538;
  --primary-first-color: #fff;
  --primary-second-color: #f2f60f;
  --second-green-color: #89cb36;
  --second-red-color: #cb3f36;
  --primary-error-color: #d71616;
}

body {
  background: var(--background);
  font-family: Qanelas, sans-serif;
}
