@import './styles/reset.scss';
@import './styles/fonts.scss';
:root {
  font-family: Qanelas, sans-serif;
  --background: #1E2538;
  --primary-first-color: #FFF;
  --primary-second-color:#f2f60f;
  --second-green-color:#89cb36;
  --second-red-color:#CB3F36;
  --primary-error-color: #d71616;
}

body {
  background:  var(--background);
}
