@import './styles/reset.scss';
@import './styles/fonts.scss';
:root {
  font-family: Qanelas, sans-serif;
  --background: #1E2538;
  --primary-text-color: #FFF;
}

body {
  background:  var(--background);
}
