.commonButton {
  border-radius: 10px;
  background: #f2f60f;
  padding: 20px 37px;
  color: #151a26;
  font-family: Qanelas;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 166.5%;
}
