.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__logo {
    
  }
  &__navigate {
    display: flex;
  }
}

.container {
    min-width: 1430px;
    margin: 0 auto;
  }