.textField {
  color: rgba(21, 26, 38, 0.6);
  font-size: 17px;
  &__item {
    width: 425px;
    border-radius: 10px;
    background: var(--primary-first-color);
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 25px;
    font-size: inherit;
  }
  &__item::placeholder{
    font-family: Qanelas;
    font-size: inherit;
    font-style: normal;
    font-weight: 400;
    line-height: 166.5%;
    opacity: 1;
    transition: opacity 0.3s ease;
  }

  &__item:focus::placeholder{
    opacity: 0;
    transition: opacity 0.5s ease;
  }

  &__error {
    min-height: 22px;
    &__item {
      color: var(--primary-error-color);
    }

  }
}
