.checkboxField {
  font-size: 17px;
  &__item {
    border-radius: 10px;
    background: var(--primary-second-color);
    width: 17px;
    height: 17px;
    border-radius: 2px;
    border: 1px solid var(--primary-second-color);
  }
  &__error {
    border: 2px solid var(--primary-error-color);
    &__item {
      color: var(--primary-error-color);
      font-size: inherit;
    }
  }
}

.checkboxField__title {
  font-family: system-ui, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.1;
}

input[data-type="checkbox"] {
  appearance: none;
  margin: 0;
  font: inherit;
  color: black;
  transform: translateY(-0.075em);
  border-radius: 2px;
  background: var(--primary-second-color);
  display: grid;
  place-content: center;
  cursor: pointer;
}

input[data-type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 17px 17px #151a26;
  transform-origin: bottom left;
  clip-path: polygon(13% 48%, 44% 80%, 92% 20%, 44% 58%);
}

input[data-type="checkbox"]:checked::before {
  transform: scale(1);
}
